* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 2rem;    
    font-size: 1.5rem;
    color: black;
    /* background-image: url("../img/treinorstudio-logo.png"); */
    background-image: url("../img/minecraft-bg-mosaic.svg");

    /* background-position: center; */
    background-repeat: repeat;
    background-color: #191919;
    margin: 50px;
    /* background-repeat: no-repeat; */
}

#container { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
    height: auto;
    /* Este porcentaje + display flex lo hace mas responsive */
    width: 100%;
    border: 3px solid #433832;
    border-radius: 8px;
    margin: 50px;
    background-color: white;
    box-shadow: 0px 5px 8px 5px rgb(36, 62, 56);
}

p {
    padding: 0 50px;
}

#logo {
    height: 3rem;
    object-fit: contain;
    padding-right: 0.5rem;
}

.contenedor-img {
    text-align: center;
}

#imagen {
    height: auto;
    width: 30%;
    object-fit: contain;
}

#imagen:hover {
    /* transform: translate(100%, 0); */
    transform: rotate(360deg);
    transition: 3s;
}


.sub-cabecera {
    padding-left: 2rem;
    font-size: 1.7rem;
}

h1 {
    display: flex;
    align-items: center;
    /* height: auto; */
    background-color: #4e3936;
    padding: 1rem;
    color: white;
    /* box-shadow: 0 5px 10px 5px #303a4c; */
}

footer {
    background-color: #4e3936;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}
