* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 2rem;    
    font-size: 1.5rem;
    color: black;
    background-image: url("../img/treinorstudio-logo.png") ;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    /* background-repeat: no-repeat; */
}

#container {   
    height: auto;
    width: 850px;
    border: 3px solid darkgray;
    border-radius: 8px;
    padding: 50px 50px;
    margin: 50px;
    background-color: white;
}

img {
    height: 3rem;
    object-fit: contain;
    padding-right: 0.5rem;
}

.sub-cabecera {
    padding-left: 2rem;
    font-size: 1.7rem;
}

h1 {
    display: flex;
    align-items: center;
    height: auto;
    background-color: darkblue;
    padding: 1rem;
    color: white;  
    text-align: center;  
    line-height: 3rem;
}

